 @import  url('../node_modules/font-awesome/css/font-awesome.min.css');
 

    
html, body {
    font-family: "Helvetica Neue",sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    direction: ltr;
    font-weight: lighter;
}
Link{
    text-decoration: none !important;
  }

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    right: 85%;
}




