/* header {
    width: 100%;
    height: 50vh;
    background:url(/src/Images/banner_image.jpg) no-repeat 50% 50%;
    background-color: black; 
    background-size: cover;
} */
header {
    width: 100%;

}
